<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotelMana.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HotelMana.Properties.Settings.dataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <HotelMana.Properties.Settings>
            <setting name="HotelMana_TEASOLUTIONDOTNETWS_HotelManaDatabaseAccess"
                serializeAs="String">
                <value>http://www.teasolution.net/service/tea_hotelmanager_database/ws.php</value>
            </setting>
        </HotelMana.Properties.Settings>
    </applicationSettings>
</configuration>